@import 'font-awesome';


// LISTVIEW//////////////////

.LV-username img {

	width: 50px;
	margin-right: 25px;
}


// SINGLEVIEW////////////////


.SV-header img {
	width: 350px;
}


button {
	margin-bottom: 100%;
}